<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Book Catalog - book details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<div class="container">
    <h3>Edit book details:</h3>
    <form action="#" th:action="@{/edit}" th:object="${book}" method="post">
        <input type="hidden" th:field="*{book_id}"/>
        <p>ISBN: <input type="text" th:field="*{isbn}"/></p>
        <p>Title: <input type="text" th:field="*{title}"/></p>
        <p><input type="submit" value="Submit"/></p>
    </form>
    <form action="#" th:action="@{/picture}" method="post" enctype="multipart/form-data">
        <p><input type="hidden" name="book_id" th:field="${book.book_id}"/></p>
        <p><input type="file" name="picture"/></p>
        <p><input type="submit" value="Submit"/></p>
    </form>
    <p>
        <a href="index.html" th:href="@{/index}">Main page</a>
    </p>

    <div th:fragment="listNameFromItems (list)">
        <span th:each="item, row: ${list}">
            <span th:if="${row.index} != 0">and</span>
            <strong th:text="${item.name}">?</strong>
        </span>
    </div>
</div>
</body>
</html>