<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Book Catalog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<div class="container">
    <h3>
        Welcome to Book Catalog! Time is: <strong th:text="${#temporals.format(time, 'dd/MMM/yyyy HH:mm')}">31/12/2015 15:00</strong>
    </h3>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>ISBN</th>
                <th>TITLE</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.book_id}">ID</td>
                <td th:text="${book.isbn}">ISBN</td>
                <td th:text="${book.title}">TITLE</td>
                <td><a href="book.html" th:href="@{/book(book_id=${book.book_id})}">INFO</a></td>
                <td><a href="edit.html" th:href="@{/edit(book_id=${book.book_id})}">EDIT</a></td>
            </tr>
        </tbody>
    </table>
</div>
</body>

</html>